html, body {
position: relative;
width: 1440px;
height: 1701px;
background-color:#EDCDBA;
}

#side{
position: absolute;
width: 238px;
height: 97.77px;
left: 90px;
top: 50px;

font-family: Montserrat;
font-style: normal;
font-weight: 900;
font-size: 31.0389px;
line-height: 109.9%;
/* or 34px */

letter-spacing: 0.1em;

color: #29346F;

}
 #side a{
text-decoration: none;
color: #29346F;
}

.main-nav
{
  position: fixed;
  list-style: none;
  top:47px;
  width: 99%;

}

.main-nav ul
{
  float: right;

}

.main-nav ul li{
  display: inline-block;
  padding: 5px 15px;
letter-spacing: 0.1em;
}

.main-nav ul li a
{
  color:#29346F;;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-size:25px;
  padding: 5px 15px;

}

h1{
 position: absolute;
width: 989px;
height: 61px;
left: 90px;
top: 314px;

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 60px;
line-height: 73px;
letter-spacing: 0.05em;

color: #29346F;
}
h2{
position: absolute;
width: 2000px;
height: 61px;
left: 90px;
top: 314px;

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 48px;
line-height: 73px;
letter-spacing: 0.05em;

color: #29346F;

}

h4{
position: absolute;
width: 830px;
height: 50px;
left: 90px;
top: 387px;

font-family: Sentinel;
font-style: italic;
font-weight: 325;
font-size: 42px;
line-height: 50px;
letter-spacing: 0.05em;

color: #29346F;
}

h4 a{
  color: #9B1E13;
}


p{
position: absolute;
width: 1073px;
height: 60px;
left: 95px;
top: 500px;

font-family: Sentinel;

font-weight: 325;
font-size: 25px;
line-height: 50px;
letter-spacing: 0.05em;

color: #29346F;
}

p a{
color: #9B1E13;
}

#secondside {
position: absolute;
width: 300px;
height: 30px;
left: 245px;
top: 216px;

font-family: Sentinel;
font-style: normal;
font-weight: 375;
font-size: 25px;
line-height: 50px;
/* identical to box height */

letter-spacing: 0.05em;

color: #9B1E13;
}
#secondside a {
  text-decoration: none;
  color: #9B1E13;

}

span  {
content: "\2190";   
position: absolute;
width: 126px;
height: 0px;
margin-left: -30px;
margin-top: -312px;


}

p, a{
text-decoration: none;

}



h6 span{
content: "\2190";   
position: absolute;
width: 126px;
height: 0px;
left: 1300px;
margin-top: 1323px;

}

h6 span a{
text-decoration: none;
font-family: Sentinel;
font-style: italic;
font-weight: 300;
line-height: 20px;
letter-spacing: 0.05em;

color: #29346F;

}

h5 span{
content: "\2190";   
position: absolute;
width: 126px;
height: 0px;
left: 1300px;
margin-top: 2000px;

}

h5 span a{
  text-decoration: none;
font-family: Sentinel;
font-style: italic;
font-weight: 300;
line-height: 20px;
letter-spacing: 0.05em;

color: #29346F;

}

.abn span{
content: "\2190";   
position: absolute;
width: 126px;
height: 0px;
left: 1200px;
margin-top: 1000px;

}

.abn span a{
   text-decoration: none;
font-family: Sentinel;
font-style: italic;
font-weight: 300;
line-height: 20px;
letter-spacing: 0.05em;

color: #29346F;

}
#page{
 
  width: 50%;
}
#pageone{

  width: 50%;
}

#pagetwo{

  width: 50%;
}

#pagethree{

  width: 50%;
}

#pagefour{
 
  width: 50%;
}

#pagefive{

  width: 50%;
}

.emails {
 margin-top: -2000px }
