@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;800&display=swap');
@font-face { font-family: Sentinel; src: url('Sentinel-Light.otf'); } 
@font-face { font-family: Sentinel; font-style: italic; src: url('Sentinel-LightItalic.otf');}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: #29346F;
    background-color: #FFE3DD;
}

/* NAV 

nav {
   display: flex; 
   justify-content: space-between;
   align-items: center;
   text-transform: uppercase;
   padding: 50px 5% 0 5%; 
}

.navbar {
    list-style: none;
    display: flex;
}


.navbar li {
    margin-left: 34px;
    padding: 5%;
}

.navbar li a {
    text-decoration: none;
    color: #29346F;  
    font-size: 25px;
    padding: 5%;
}

.nav-title {
    font-size: 32px;
    font-weight: 800;
    letter-spacing: 0.1em;
    line-height: 109%; 
}

.nav-title a{
    text-decoration: none;
    color: #29346F;
}*/

nav {
   display: flex; 
   justify-content: space-between;
   align-items: flex-start;
   padding: 50px 8% 0 5%; /* top right bottom left */
}

.navbar {
list-style: none;
display: flex;
margin-left: 15px;
text-transform:uppercase;
}


.navbar li {
padding: 3%;
font-size: 20px;
font-weight:normal;
font-family: "Montserrat", sans-serif;
}


.navbar li a {
    text-decoration: none;
    color: #29346F;
    padding: 3%;
}

.nav-title {
    font-family: "Montserrat", sans-serif;
    font-size: 32px;
    font-weight: 800;
    letter-spacing: 0.1em;
    line-height: 109%; 
text-transform:uppercase;
    
}

a{
text-decoration: none; 
color: #29346F; 
}

.navbar li a:hover{
color:#FF48F8;
}

.info-title{
    font-family: "Montserrat";
    padding: 7% 7%;
  margin-top: 2%;
  font-size: 25px;
color: #29346F; 

}


.text{
  font-family: 'Sentinel';
  font-style: normal;
  font-weight: 325;
  padding: 0 7%;
  font-size: 25px;
    
  position: absolute;
  top: 60%;
  left: 30%;
  transform: translate(-50%, -50%);

}

.text img{
  width: 100%;

}

@media screen and (max-width: 750px) {
    nav{
    flex-direction: column;
        justify-content: center;
        margin-left: 0;

  }

}

@media screen and (max-width: 500px) {
  nav{
  flex-direction: column;
        justify-content: center;
        margin-left: 0;

  }

  .navbar li a{
     font-size: 10pt;
  }

    .text{
      font-size: 20px;
    }

    body{ 
    overflow-y: hidden; }

}

@media screen and (max-width: 400px) {

  nav{
  flex-direction: column;
        justify-content: center;
        margin-left: 0;
  }

  .navbar li a{
    font-size: 10pt;
  }

  .text{
      font-size: 20px;
    }
    body{ 
    overflow-y: hidden; }


}

@media screen and (max-width: 600px) {

  nav{
  flex-direction: column;
   justify-content: center;
    margin-left: 0;
  }

  .text{
      font-size: 20px;
    }
    body{ 
    overflow-y: hidden; }

}
