* 

html, body {
position: relative;
width: 1440px;
height: 1701px;
background-color:#E1F2EB;
}

#side{
position: absolute;
width: 238px;
height: 97.77px;
left: 90px;
top: 50px;

font-family: Montserrat;
font-style: normal;
font-weight: 900;
font-size: 31.0389px;
line-height: 109.9%;
/* or 34px */

letter-spacing: 0.1em;

color: #29346F;
}

.main-nav
{
  position: absolute;
  list-style: none;
  top:-150px;
  width: 1400px;

}

.main-nav ul
{
float: right;
right: 52;
left: 748;
}

.main-nav ul li{
  display: inline-block;
  padding: 200px 34px;
  letter-spacing: 0.1em;
  

}

.main-nav ul li a
{
  color: #29346F;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-size:25px;
  
}

h1{
position: absolute;
width: 989px;
height: 61px;
left: 90px;
top: 314px;

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 60px;
line-height: 73px;
letter-spacing: 0.05em;

color: #29346F;
}

h4{
position: absolute;
width: 810px;
height: 50px;
left: 90px;
top: 387px;

font-family: Sentinel;
font-style: italic;
font-weight: 325;
font-size: 42px;
line-height: 50px;
letter-spacing: 0.05em;

color: #29346F;
}

h4 a{
  color: #215036;
}

p{
  position: absolute;
width: 1073px;
height: 60px;
left: 95px;
top: 500px;

font-family: Sentinel;
font-style: italic;
font-weight: 325;
font-size: 25px;
line-height: 50px;
letter-spacing: 0.05em;

color: #29346F;
}

p a{
color: #215036;
}


.secondsidea {
position: absolute;
width: 251px;
height: 30px;
left: 245px;
top: 216px;

font-family: Sentinel;
font-style: normal;
font-weight: 375;
font-size: 25px;
line-height: 50px;
/* identical to box height */

letter-spacing: 0.05em;

color: #215036;
}

.secondsidea a {
  text-decoration: none;
  color: #215036;
}

span  {
content: "\2190";   
position: absolute;
width: 126px;
height: 0px;
margin-left: -30px;
margin-top: -310px;

}

.abc a{
text-decoration: none;

}

#pageone{

  width: 50%;
}

#pagetwo{

  width: 50%;
}

#pagethree{

  width: 50%;
}

#pagefour{
 
  width: 50%;
}

#pagefive{

  width: 50%;
}
