@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;800&display=swap');
@font-face { font-family: Sentinel; src: url('Sentinel-Light.otf'); } 
@font-face { font-family: Sentinel; font-style: italic; src: url('Sentinel-LightItalic.otf');}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
 scroll-behavior: smooth;
}
body {
    font-family: "Montserrat", sans-serif;
    color: #29346F;
    background-color: #FFE3DD;
}
/*
nav {
   display: flex; 
   justify-content: space-between;
   align-items: flex-start;
   padding: 50px 8% 0 5%;
}

.navbar {
list-style: none;
display: flex;
margin-left: 15px;
text-transform:uppercase;
}


.navbar li {
padding: 3%;
font-size: 20px;
font-weight:normal;
font-family: "Montserrat", sans-serif;
}


.navbar li a {
    text-decoration: none;
    color: #29346F;
    padding: 3%;
}

.nav-title {
    font-family: "Montserrat", sans-serif;
    font-size: 32px;
    font-weight: 800;
    letter-spacing: 0.1em;
    line-height: 109%; 
text-transform:uppercase;
    
}

a{
text-decoration: none; 
color: #29346F; 
}

.navbar li a:hover{
color:#FF48F8;
}

 */

/*begin nav*/
.nav-title {
 font-family: "Montserrat", sans-serif;
    font-size: 32px;
    font-weight: 800;
    letter-spacing: 0.1em;
    line-height: 109%; 
     text-transform:uppercase;
  margin:50px 0 0 5%;    
}

a{
text-decoration: none; 
color: #29346F; 
}

.navbar li a:hover{
opacity: 0.7;
}
.container {
  width: 95%;
  max-width: 1000px;
}

header {
  display: flex; 
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
}

header::after {
  content: '';
  clear: both;
  display: block;
}

.site-nav {
  position: absolute;
  float:right;
  padding: 70px 4% 0 0;
  text-transform:uppercase;
  clip-path: circle(0px at top right);
  transition: clip-path ease-in-out 700ms;
/*   display: none; */
}

.site-nav--open {
  clip-path: circle(250% at top right);
/*   display: block; */
}

.site-nav ul {
  list-style: none;
  font-size: 23px;
}


.site-nav li:last-child {
  border-bottom: none;
}
.site-nav a {
  color:  #29346F;
  display: block;
  text-transform: uppercase;
  text-decoration: none;
}

.site-nav a:hover,
.site-nav a:focus {
  background: #fae3dd;
  color: #9ba4b4;
}

.menu-toggle {
  padding: 0.5em;
  position: absolute;
  top: 1.5em;
  right: 2em;
  cursor: pointer;
}

.hamburger,
.hamburger::before,
.hamburger::after {
  content: '';
  display: block;
  background: #29346F;
  height: 3px;
  width:1.75em;
  border-radius: 3px;
  transition: all ease-in-out 500ms;
}

.hamburger::before {
  transform: translateY(-6px);
}

.hamburger::after {
  transform: translateY(3px);
}

.open .hamburger {
  transform: rotate(45deg);
}

.open .hamburger::before {
  opacity: 0;
}

.open .hamburger::after {
  transform: translateY(-3px) rotate(-90deg);
}

.navbar li a:hover{
opacity: 0.7;
}



#hero {
    padding: 10% 5%;
}

.hero-title {
    font-size: 60px;
    font-weight: normal;
    line-height: 75px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
}

.hero-description {
	font-family: 'Sentinel';
    font-size: 25px;
    line-height: 40px;
    font-weight: 325;
    letter-spacing: 0.05em;
   
}

.hero-description a{
	font-family: 'Sentinel';
text-decoration:none;
color:#29346F;}


footer
{
margin-left:43%;
margin-bottom:3%;
scroll-behavior: smooth;
}

footer a:hover{
opacity:50%;}

/*  GALLERY */
.gallery-entry {
    margin-bottom: 60px;
}
.gallery-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
}
.gallery-title {
    font-weight: 800;
    font-size: 48px;
    margin: 20px 0;
    text-transform: uppercase;
}
.gallery-link {
    text-decoration: none;
    color: #FF48F8;
   font-size: 25px;
   font-family: 'Sentinel';
}

.gallery-link a:hover {
   opacity:50%;
}
.gallery-link:hover {
   opacity:50%;
}

.gallery-img {
  height: 490px;
  display: flex;
}

.gallery-artist {
    width: 25%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
}
.bev-artist {
    background-image: url(https://i.imgur.com/Dc4mcer.png);
}

.dan-artist {
    background-image: url(https://i.imgur.com/ZlZdLBg.png);
    background-position: 50% 20%;
}

.josh-artist {
    background-image: url(https://i.imgur.com/Iy1b7cu.png);
    background-position: 50% 20%; 
}
.kate-artist {
    background-image: url(https://i.imgur.com/JviAOzV.png);
    background-position: 50% 20%; 
}

.mike-artist {
    background-image: url(https://i.imgur.com/1xS77QD.png);
    background-position: 50% 20%; 
}

.shikha-artist {
    background-image: url(https://i.imgur.com/atgBY0z.png);
    background-position: 50% 20%; 
}

.oli-artist {
    background-image: url(https://i.imgur.com/BKCQZad.gif);
    background-position: 50% 20%; 
}

.gallery-work {
    width: 75%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border: 2px solid #FF48F8;
    height: 100%;
}

.bev-work {
    background-image: url(https://i.imgur.com/568xaav.jpg);
}

.dan-work {
    background-image: url(https://i.imgur.com/ynnxDg3.png);
}

.josh-work {
    background-image: url(https://i.imgur.com/KklbMOy.png);
}

.kate-work {
    background-image: url(https://i.imgur.com/rHaWpKg.png);
}

.mike-work {
    background-image: url(https://i.imgur.com/WS1JKTm.png);
}

.shikha-work {
    background-image: url(https://i.imgur.com/Qx9P2lT.png);
}

.oli-work {
    background-image: url(https://i.imgur.com/0YRnExA.jpg);
}

@media screen and (max-width: 1300px) {
    .gallery-img {
        height: 400px;
    }
}

@media screen and (max-width: 1100px) {
    .gallery-img {
        height: 300px;
    }
	iframe{
	width:100%;
	}
}

@media screen and (max-width: 800px) {
    .gallery-img {
        height: 250px;
	width: 100%;
    }
	footer{
	margin-left:35%;
	margin-bottom:5%;}
	
	iframe{
	width:100%;
	}

}

@media (min-width: 800px) {
  
    .menu-toggle {
      display: none;
    }
    
    .site-nav {
      height: auto;
      position: relative;
      background: transparent;
      float: right;
      clip-path: initial;
    }
    
    .site-nav li {
      display: block;
      border: none;
    }
    
    .site-nav a {
      padding: 0;
      margin-left: 2em;
    }
    
    .site-nav a:hover,
    .site-nav a:focus {
      background: transparent;
    }
    
    .site-nav--icon {
      display: none;
    }
	
.site-nav ul{
	font-size:10pt;
	}
    
  }
@media screen and (max-width: 700px) {

	footer{
	margin-left:35%;
	margin-bottom:5%;}
	
	iframe{
	width:100%;
	}
	
}

@media screen and (max-width: 600px) {


	
  .hero-title{
	  font-size:30px;
	}
 .hero-description{
	  font-size:15pt;
	}
	
	.gallery-title{
	font-size:20px;  }
	
	.gallery-link{
		font-size:15px;
		width:80%;}
	.gallery-img{
	width: 100%;}
	
	footer{
	margin-left:30%;
	margin-bottom:5%;}
	
	iframe{
	width:100%;
	}
}
@media screen and (max-width: 500px){

	footer{
	margin-left:30%;
	margin-bottom:5%;}
	
	iframe{
	width:100%;
	}
}
@media screen and (max-width: 400px){
	
	footer{
	margin-left:30%;
	margin-bottom:5%;}
	
	iframe{
	width:100%;
	}
}
@media screen and (max-width: 300px) {

    .gallery-img {
        height: 250px;
	 width:70%;
    }
    .gallery-work{
    width:100%;
	overflow-x:hidden;}
	
	 .hero-title{
	  font-size:19pt;
	}
 .hero-description{
	  font-size:15pt;
	}
iframe{
	width:100%;
	}
	
.gallery-link{
		font-size:15px;
		width:80%;}
.gallery-title{
	font-size:20px;  }
footer{
	margin-left:30%;
	margin-bottom:5%;}

}
