@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;800&display=swap');
@font-face { font-family: Sentinel; src: url('Sentinel-Light.otf'); } 
@font-face { font-family: Sentinel; font-style: italic; src: url('Sentinel-LightItalic.otf');}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: #29346F;
    background-color: #FFE3DD;
}
/*BURGER NAV*/
.menu-btn {
  position: absolute;
  z-index: 1;
  right: 7%;
  top: 3.125rem;
  height: 20px;
  width: 28px;
  cursor: pointer;
  transition: all 0.5 ease-in-out;
}

.menu-btn__burger {
  position: absolute;
  right: 0;
  top: 0.5rem;
  width: 68px;
  height: 3px;
  background: #29346F;
  transition: all 0.5 ease-in-out;
}

.menu-btn__burger::before {
  content: '';
  position: absolute;
  top: -8px;
  width: 68px;
  height: 3px;
  background: #29346F;
  transition: all 0.5 ease-in-out;
}

.menu-btn__burger::after {
  content: '';
  position: absolute;
  top: 8px;
  width: 60px;
  height: 3px;
  background: #29346F;
  transition: all 0.5 ease-in-out;
}

.menu-btn__burger.open {
  transform: rotate(720deg);
  background: transparent;
}

.menu-btn__burger.open::before {
  transform: rotate(45deg) translate(5px, 8px);
}

.menu-btn__burger.open::after {
  width: 50px;
  transform: rotate(-45deg) translate(3px, -7px);
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  opacity: 0.98;
  visibility: hidden;
}

.nav.open {
  visibility: visible;
}

.nav .menu-nav {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  background: #FFE3DD;
  list-style-type: none;
  padding-right: 1rem;
  transform: translateY(-100%);
  transition: all 0.5 ease-in-out;
}

.nav .menu-nav.open {
  transform: translateY(0);
}

.nav .menu-nav__item {
  transform: translateX(100vw);
  transition: all 0.5 ease-in-out;
}

.nav .menu-nav__item.open {
  transform: translateX(0);
}


.nav .menu-nav__link {
  display: inline-block;
  font-size: 1.5rem;
  text-transform: uppercase;
  padding: 2rem 0;
  font-weight: 300;
 text-decoration:none;
    font-family: 'Montserrat', sans-serif;
    color: #29346F;
}
.menu-nav__link a{
	text-decoration:none;
    font-family: 'Montserrat', sans-serif;
    color: #29346F;
}
.nav .menu-nav__link:hover {
  color:#66697C;
}

.menu-nav__item:nth-child(1) {
  transition-delay: 0.25s;
}

.menu-nav__item:nth-child(2) {
  transition-delay: 0.35s;
}

.menu-nav__item:nth-child(3) {
  transition-delay: 0.45s;
}

.menu-nav__item:nth-child(4) {
  transition-delay: 0.55s;
}

/* NAV */
header{
font-family:'Montserrat', sans-serif;
padding: 50px 5% 0 5%;
}

.nav-title {
 text-transform: uppercase;
    font-size: 32px;
    font-weight: 800;
    letter-spacing: 0.1em;
    line-height: 109%; 
}

.nav-title a{
	text-decoration:none;
	color:#29346F;
}
/* HERO */

#hero {
    padding: 10% 5%;
}

.hero-title {
    font-size: 60px;
    font-weight: normal;
    line-height: 75px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
}

.hero-description {
    font-size: 25px;
    line-height: 40px;
    font-weight: 325;
    letter-spacing: 0.05em;
    font-family: 'Sentinel';
}

.hero-description a{
text-decoration:none;
color:#29346F;}


.btn {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 10px;
    text-decoration: none;
    font-family: 'Sentinel';
    font-size: 15pt;
    color: #29346F; 
    border: 1px solid #29346F;
}


/*  GALLERY */
.gallery-entry {
    margin-bottom: 60px;
}
.gallery-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
}
.gallery-title {
    font-weight: 800;
    font-size: 48px;
    margin: 20px 0;
    text-transform: uppercase;
}
.gallery-link {
    text-decoration: none;
    color: #FF48F8;
   font-size: 25px;
   font-family: 'Sentinel';
}

.gallery-img {
  height: 490px;
  display: flex;
}

.gallery-artist {
    width: 25%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
}
.bev-artist {
    background-image: url("images/bev.png");
}

.dan-artist {
    background-image: url("images/dan.png");
    background-position: 50% 20%;
}

.josh-artist {
    background-image: url("images/cute.png");
    background-position: 50% 20%; 
}
.kate-artist {
    background-image: url("images/kate.png");
    background-position: 50% 20%; 
}

.mike-artist {
    background-image: url("images/mike.png");
    background-position: 50% 20%; 
}

.shikha-artist {
    background-image: url("images/shik.png");
    background-position: 50% 20%; 
}

.oli-artist {
    background-image: url("images/0-1.png");
    background-position: 50% 20%; 
}

.gallery-work {
    width: 75%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border: 2px solid #FF48F8;
    height: 100%;
}

.bev-work {
    background-image: url('b.images/bevw.jpg');
}

.dan-work {
    background-image: url('d.images/danw.jpg');
}

.josh-work {
    background-image: url('josh/scanj.jpg');
}

.kate-work {
    background-image: url('kate/katew.jpg');
}

.mike-work {
    background-image: url('michael/mikeee.jpg');
}

.shikha-work {
    background-image: url('shikha/shikha.jpg');
}

.oli-work {
    background-image: url('olivia/oliboli.jpg');
}

@media screen and (max-width: 1300px) {
    .gallery-img {
        height: 400px;
    }
}

@media screen and (max-width: 1100px) {
    .gallery-img {
        height: 300px;
    }
}

@media screen and (max-width: 800px) {
    .gallery-img {
        height: 250px;
	width: 100%;
    }

}

@media screen and (max-width: 600px) {
    nav {
        flex-direction: column;
        justify-content: center;
    }
    .navbar li:first-child {
        margin-left: 0;
    }
   .navbar li a{
		font-size: 10pt;
	}
  .hero-title{
	  font-size:15pt;
	}
 .hero-description{
	  font-size:15pt;
	}
	 .btn{
	 font-size:15pt; }
	
	.gallery-title{
	font-size:20px;  }
	
	.gallery-link{
		font-size:15px;
		width:80%;}
	.gallery-img{
	width: 100%;}
}
@media screen and (max-width: 500px){
	nav .menu-nav__link {
		font-size:0.9rem;
	}
}
@media screen and (max-width: 400px){
	nav .menu-nav__link {
		font-size:0.9rem;
	}
}
@media screen and (max-width: 300px) {
	
	nav .menu-nav__link {
		font-size:0.9rem;
	}
    .gallery-img {
        height: 250px;
	 width:70%;
    }
    .gallery-work{
    width:100%;
	overflow-x:hidden;}
	
    .navbar li a{
		font-size: 10pt;
	}
	 .hero-title{
	  font-size:15pt;
	}
 .hero-description{
	  font-size:15pt;
	}
 .btn{
	 font-size:15pt; }
	
.gallery-link{
		font-size:15px;
		width:80%;}
.gallery-title{
	font-size:20px;  }

}
