@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;800&display=swap');
@font-face { font-family: Sentinel; src: url('Sentinel-Light.otf'); } 
@font-face { font-family: Sentinel; font-style: italic; src: url('Sentinel-LightItalic.otf');}
@font-face { font-family: Coconat-BoldExt; font-style: bold; src: url('Coconat-BoldExt.otf'); } 
@font-face { font-family: Coconat-Regular; src: url('Coconat-Regular.otf');}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
 scroll-behavior: smooth;
}
body {
  font-family: 'Coconat-Regular';
    color: #29346F;
    overflow-x: hidden;
    background-color: #f33207a2;
}

#date-div{
  background-color:transparent;
  border: none;
  font-size: medium;
  font-family: 'Sentinel';
  color: #29346F;
text-align:right;
display: flex;
align-items: center;
}

nav {
   display: flex; 
   justify-content: space-between;
   margin: 2% 2% 0 2%;
   /*padding: 50px 8% 0 5%;*/
}

.navbar {
list-style: none;
display: flex;
align-items: center;
text-transform:uppercase;
}


ul li {
padding-left: 20%;
font-size: 20px;
font-weight:normal;
font-family: "Montserrat", sans-serif;
}


.navbar li a {
    text-decoration: none;
    color: #29346F;
}

.nav-title {
    font-family:'Coconat-BoldExt';
    font-style:	bold;
    font-size: 32px;
    letter-spacing: 0.1em;
    line-height: 109%; 
  text-transform:uppercase;
    
}

a{
text-decoration: none; 
color: #29346F; 
}

.navbar li a:hover{
color:#FF48F8;
}

.container{
  margin-top: 15%;
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

p{
line-height: 40px!important;
width: 100%;
}

.cred, .ok{
  color: rgb(219, 50, 50);
}

@media screen and (max-width:870px)and (min-width:300px){

  body{
    overflow-x: hidden;
  }

  #date-div{
    display: none;
  }
 

  nav{
    flex-direction: column;
    }

    .navbar{
      display: flex;
      margin-top: 7%;
      text-decoration: underline;
      
    }

    .navbar li a{
      font-size: 10pt;
    }
    
 .nav-title{
       margin-top: 2%;
      text-align: center;
      font-size: 7.3vw;
    }
	.container{
    flex-wrap: wrap!important;
    text-align: center;
  }
  p{
    padding-bottom: 10%;
  }
}
