@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;800&display=swap');
@font-face { font-family: Sentinel; src: url('Sentinel-Light.otf'); } 
@font-face { font-family: Sentinel; font-style: italic; src: url('Sentinel-LightItalic.otf');}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: #29346F;
    background-color: #FFE3DD;
}

/* NAV */

nav {
   display: flex; 
   justify-content: space-between;
   align-items: center;
   text-transform: uppercase;
   padding: 50px 5% 0 5%; /* top right bottom left */
}

.navbar {
    list-style: none;
    display: flex;
}


.navbar li {
    margin-left: 34px;
    padding: 5%;
}

.navbar li a {
    text-decoration: none;
    color: #29346F;  
    font-size: 25px;
    padding: 5%;
}

.nav-title {
    font-size: 32px;
    font-weight: 800;
    letter-spacing: 0.1em;
    line-height: 109%; 
}

.nav-title a{
text-decoration:none;
color:#29346F;
}

.info-title{
    font-family: "Montserrat";
    padding: 7% 7%;
  margin-top: 2%;
  font-size: 25px;
color: #29346F; 

}

h2{
font-family:Sentinel;
margin-left:3%;
}

h2 a{
text-decoration:none;
color: #29346F;}

h2 a:hover{
color:black;
text-decoration:underline;}

.text{
  font-family: 'Sentinel';
  font-style: normal;
  font-weight: 325;
  padding: 0 7%;
  font-size: 25px;

}

.text a {
  text-decoration: none;
  color: #FF48F8;
  font-size: 27px;
}

.text img{
  width: 100%;
}

.imgy img{
   width:90% ;
   padding:5%;
   
}
.imgy{
    height:400px;
}


@media screen and (max-width: 750px) {
    nav{
    flex-direction: column;
        justify-content: center;
        margin-left: 0;

  }

    .imgy img{
    width:100%}
}

@media screen and (max-width: 500px) {
  nav{
  flex-direction: column;
        justify-content: center;
        margin-left: 0;

  }

  .navbar li a{
     font-size: 10pt;
  }

    .text{
      font-size: 20px;
    }

    body{ 
    overflow-x: hidden; }

.text img{
  width: 100%;
}

    .imgy img{
    width:100%}
}

@media screen and (max-width: 400px) {

  nav{
  flex-direction: column;
        justify-content: center;
        margin-left: 0;
  }

  .navbar li a{
    font-size: 10pt;
  }

  .text{
      font-size: 20px;
    }
  

    .text img{
  width: 100%;
}


    .imgy img{
    width:100%}
}

@media screen and (max-width: 600px) {

  nav{
  flex-direction: column;
   justify-content: center;
    margin-left: 0;
  }

  .text{
      font-size: 20px;
    }
   
    .text img{
  width: 100%;
}
    .imgy img{
    width:100%}

}
