@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;900&display=swap');
@font-face { font-family: Sentinel; src: url('Sentinel-Light.otf'); } 
@font-face { font-family: Sentinel; font-style: italic; src: url('Sentinel-LightItalic.otf');}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: #29346F;
    background-color: #FFE3DD;
}

nav {
   display: flex; 
   justify-content: space-between;
   align-items: flex-start;
   padding: 50px 8% 0 5%; /* top right bottom left */
}

.navbar {
 
list-style: none;
display: flex;
margin-left: 15px;
text-transform:uppercase;
}

.navbar ul {
  justify-content: space-between;
}


.navbar li {
padding: 10%;
font-size: 20px;
font-weight:normal;
font-family: "Montserrat", sans-serif;
}


.navbar li a {
    text-decoration: none;
    color: #29346F;
    padding: 3%;
}

.nav-title {
    font-family: "Montserrat", sans-serif;
    font-size: 32px;
    font-weight: 800;
    letter-spacing: 0.1em;
    line-height: 109%; 
text-transform:uppercase;
    
}

a{
text-decoration: none; 
color: #29346F; 
}

.navbar li a:hover{
color:#FF48F8;
}

.header{
  font-family: "Montserrat",sans-serif;
  font-weight: 100;
  font-size: 5em;
  padding:7% 2% 5% 7%;/* top right bottom left */
}

@media(min-width:900px){
  .container{
    display: flex;
  }
  
  .container-2{
    display: flex;
    justify-content: space-between;
  }
}

.box-row{
flex-basis: 17%;
flex: 1;
}

.container div, .container-2 div{
padding: 3%;
}

.box-1{
  flex: 3;
}

.box-2{
  flex: 5;
}

.box-3{
  flex: 3;
}

p {
  font-family:'Sentinel';
  font-weight: 325;
  font-size: 120%;
  padding-left: 7%;
  line-height: 139%;
}

p a:hover{
text-decoration: underline;
}

.line {
  transform: skewY(50deg) ;
}

.box-row img{
  transform: none;
}

@media screen and (max-width:750px)and (min-width:300px){

  nav{
      flex-direction: column;
      justify-content: center;
      margin-left: 0 auto;
      margin-top: -6%;
    }
  
  .nav-title {
  position: relative;
  font-size: 7vw;
  }
  
  .navbar li {
    font-size: 3vw;
   }
   .header{
     font-size: 4em;
   }
   .arrow{
    visibility:hidden;
  }
  .line {
    transform: skewY(0deg) ;
  }
  
  .box-row img{
    transform: none;
  }

  p{
    text-align: center;
    padding-right: 2rem;
  }

  img{
    width: 100%;
  }
  }
