@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;800&display=swap');
@font-face { font-family: Sentinel; src: url('Sentinel-Light.otf'); } 
@font-face { font-family: Sentinel; font-style: italic; src: url('Sentinel-LightItalic.otf');}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: #29346F;
    background-color: #FBEDB9;
}

/* NAV */

nav {
   display: flex; 
   justify-content: space-between;
   align-items: center;
   text-transform: uppercase;
   padding: 50px 5% 0 5%; /* top right bottom left */
}

.navbar {
    list-style: none;
    display: flex;
}


.navbar li {
    margin-left: 34px;
    padding: 5%;
}

.navbar li a {
    text-decoration: none;
    color: #29346F;  
    font-size: 25px;
    padding: 5%;
}

.nav-title {
    font-size: 32px;
    font-weight: 800;
    letter-spacing: 0.1em;
    line-height: 109%; 
}

.nav-title a{
text-decoration:none;
color:#29346F;
}

.back{font-weight: 325;
}


.back i{
padding: 5% 5%;
margin-top: 2%;
font-size: 25px;
color: #BE4144;

}

.back a{
  font-family: 'Sentinel';
  font-style: normal;
  font-weight: 325;

}


.work-title{
  font-family: "Montserrat";
  font-size: 60px;
  font-style: normal;
  font-weight: 300;
  color:#29346F;

  padding: 5%;
  margin-top: -2%;

}

.work-author{
  font-family: 'Sentinel';
  font-style: normal;
  font-size: 42px;
  font-style: italic;
  font-weight: 325;


  margin-top: -9%;
  padding: 5%;
  letter-spacing: 0.05em;

}
.work-author a{
  color: #BE4144;
  text-decoration: none;

}

.work-text {
margin-left:5%;
padding-right: 7%;
display: flex;
flex-wrap: nowrap;

font-family: Sentinel;

font-weight: 325;
line-height: 60px;
font-size: 24px;
letter-spacing: 0.05em;

color: #29346F;
}

.work-text a{
  color: #BE4144;
  text-decoration: none;
}

.work-text img{
  width: 70%;
}

.work-text iframe{
  width: 50%;
  height: 400px;
}

.work-cap{
  text-align: center;
  padding-right: 45%;


font-family: Sentinel;

font-weight: 325;
line-height: 60px;
font-size: 24px;
letter-spacing: 0.05em;

color: #29346F;
}
.work-cap a{
  text-decoration: none;
  color: #BE4144;
}
@media screen and (max-width: 750px) {
    nav{
    flex-direction: column;
        justify-content: center;
        margin-left: 0;

  }

}

@media screen and (max-width: 500px) {
  nav{
  flex-direction: column;
        justify-content: center;
        margin-left: 0;

  }

  .navbar li a{
     font-size: 10pt;
  }

    .back i {
      font-size: 20px;
    }

  .work-title{
    font-size: 40px;
  }

  .work-author{
    font-size: 30px;
  }

  .work-text{
    font-size: 20px;
  }
  .work-text img{
  width: 95%;
}
.work-text iframe{
  width: 95%;
  height: 400px;
}

.work-cap{
font-size: 15pt;
padding:5%;
}
}
@media screen and (max-width: 400px) {

  nav{
  flex-direction: column;
        justify-content: center;
        margin-left: 0;
  }

  .navbar li a{
    font-size: 10pt;
  }

  .back i {
      font-size: 20px;
    }
     .work-title{
    font-size: 30px;
  }
  .work-author{
    font-size: 20px;
  }
.work-text img{
  width: 90%;
}
.work-text iframe{
  width: 90%;
  height: 400px;
}
.work-cap{

font-size: 15pt;
padding:5%;
}

}

@media screen and (max-width: 600px) {

  nav{
  flex-direction: column;
   justify-content: center;
    margin-left: 0;
  }

  .navbar li a{
    font-size: 10pt;
  }

  .back i {
      font-size: 20px;
    }
  
   .work-title{
    font-size: 40px;
  }
  .work-author{
    font-size: 30px;
  }
  .work-text iframe{
  width: 95%;
  height: 400px;
}
.work-cap{
font-size: 15pt;
padding:5%;

}

}


@media screen and (max-width: 900px) {

  nav{
  flex-direction: column;
   justify-content: center;
    margin-left: 0;
  }

  .navbar li a{
    font-size: 10pt;
  }
  
   .work-title{
    font-size: 40px;
  }
  .work-author{
    font-size: 30px;
  }
  .work-text iframe{
  width: 95%;
  height: 400px;
}
.work-cap{
padding:5%;
font-size: 15pt;
}
}
