html, body {
position: relative;
width: 1440px;
height: 1701px;
background-color:#ECEEDA;
}

#side{
position: absolute;
width: 238px;
height: 97.77px;
left: 90px;
top: 50px;

font-family: Montserrat;
font-style: normal;
font-weight: 900;
font-size: 31.0389px;
line-height: 109.9%;
/* or 34px */

letter-spacing: 0.1em;

color: #29346F;

}

#side a{
  color: #29346F;

}

.main-nav
{
  position: fixed;
  list-style: none;
  top:47px;
  width: 99%;

}

.main-nav ul
{
  float: right;

}

.main-nav ul li{
  display: inline-block;
  padding: 5px 15px;
  letter-spacing: 0.1em;

}

.main-nav ul li a
{
  color:#29346F;;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-size:25px;
  padding: 5px 15px;
}

h1{
 position: absolute;
width: 989px;
height: 61px;
left: 90px;
top: 314px;

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 60px;
line-height: 73px;
letter-spacing: 0.05em;

color: #29346F;
}

h4{
position: absolute;
width: 830px;
height: 50px;
left: 90px;
top: 387px;

font-family: Sentinel;
font-style: italic;
font-weight: 325;
font-size: 42px;
line-height: 50px;
letter-spacing: 0.05em;

color: #29346F;
}

h4 a{
  color: #ED5559;
}



p{
  position: absolute;
width: 1073px;
height: 60px;
left: 95px;
top: 500px;

font-family: Sentinel;
font-weight: 325;
font-size: 25px;
line-height: 50px;
letter-spacing: 0.05em;

color: #29346F;
}

p a{
color: #ED5559;
}
.postcards{
width: 1073px;
left: 95px;
}

#pcard1{
    position: absolute;
width: 1000px;
height: 600px;
left: 95px;
top: 520px;
border: 3px solid #ED5559;
box-sizing: border-box;
}

#pcard2{
   position: absolute;
width: 500px;
height: 600px;
left: 95px;
top: 1150px;
border: 3px solid #ED5559;
box-sizing: border-box;

}
#pcard3{
position: absolute;
width: 640px;
height: 500px;
left: 695px;
top: 1200px;
border: 3px solid #ED5559;
box-sizing: border-box;

}

#pcard4{
position: absolute;
width: 400px;
height: 300px;
left: 95px;
top: 1780px;
border: 3px solid #ED5559;
box-sizing: border-box;

}
#pcard5{
position: absolute;
width: 400px;
height: 300px;
left: 95px;
top: 2110px;
border: 3px solid #ED5559;
box-sizing: border-box;

}

#col{
position: absolute;
width: 800px;
height:1000px;
left: 95px;
top: 520px;
border: 3px solid #ED5559;
box-sizing: border-box;


}

#food1{
position: absolute;
width: 850px;
height:600px;
left: 95px;
top: 1150px;
border: 3px solid #ED5559;
box-sizing: border-box;
}
#food2{
position: absolute;
width: 850px;
height:600px;
left: 95px;
top: 520px;
border: 3px solid #ED5559;
box-sizing: border-box;
}

#dan{
position: absolute;
width: 700px;
height:800px;
left: 95px;
top: 520px;
border: 3px solid #ED5559;
box-sizing: border-box;
}
#shik{
position: absolute;
width: 850px;
height:600px;
left: 95px;
top: 1350px;
border: 3px solid #ED5559;
box-sizing: border-box;
}
#danshik{
position: absolute;
width: 850px;
height:600px;
left: 95px;
top: 1980px;
border: 3px solid #ED5559;
box-sizing: border-box;
}
#secondside {
  position: absolute;
width: 300px;
height: 30px;
left: 245px;
top: 216px;

font-family: Sentinel;
font-style: normal;
font-weight: 375;
font-size: 25px;
line-height: 50px;
/* identical to box height */

letter-spacing: 0.05em;

color: #ED5559;
}
#secondside a {
  text-decoration: none;
  color: #ED5559;
}


h5{
  margin-left: 97px;
  font-family: "Sentinel";
  font-size: 30pt;
  color:#29346F;
}

h6{
   margin-left: 97px;
  font-family: "Montserrat", sans-serif;
  font-size: 20pt;
  color:#29346F;

}

h6 a{
  text-decoration: none;
  color:#215036;
}

span  {
content: "\2190";   
position: absolute;
width: 126px;
height: 0px;
margin-left: -30px;
margin-top: -312px;




}

p, a{
text-decoration: none;

}
#pageone{

  width: 50%;
}

#pagetwo{

  width: 50%;
}

#pagethree{

  width: 50%;
}

#pagefour{
 
  width: 50%;
}

#pagefive{

  width: 50%;
}