@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;800&display=swap');
@font-face { font-family: Sentinel; src: url('Sentinel-Light.otf'); } 
@font-face { font-family: Sentinel; font-style: italic; src: url('Sentinel-LightItalic.otf');}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: #29346F;
    background-color: #FFE3DD;
}

nav {
   display: flex; 
   justify-content: space-between;
   align-items: flex-start;
   padding: 50px 8% 0 5%; /* top right bottom left */
}

.navbar {
list-style: none;
display: flex;
margin-left: 15px;
text-transform:uppercase;
}


.navbar li {
padding: 3%;
font-size: 20px;
font-weight:normal;
font-family: "Montserrat", sans-serif;
}


.navbar li a {
    text-decoration: none;
    color: #29346F;
    padding: 3%;
}

.nav-title {
    font-family: "Montserrat", sans-serif;
    font-size: 32px;
    font-weight: 800;
    letter-spacing: 0.1em;
    line-height: 109%; 
text-transform:uppercase;
    
}

a{
text-decoration: none; 
color: #29346F; 
}

.navbar li a:hover{
color:#FF48F8;
}

h2{
   
    font-family: Montserrat, sans-serif;
    font-weigh:600;
}

h5{
    font-family:'Sentinel';
}

h2 a:hover{
opacity:50%;
}

.img {
  width: 100%;
  padding: 20px;
    
}

.leftcolumn { 
  float: left;
  width: 75%;
}


.rightcolumn {
  float: left;
  width: 25%;
  padding-right:10%;
}


.card {
   background-color:transparent;
   padding: 2%;
   margin-top: 5%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}


footer {
  padding: 20px;
  text-align: center;
  margin-top: 20px;
   font-weight:600;
}

@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {   
    width: 100%;
    padding: 0;
  }
}

@media screen and (max-width: 750px) {
    nav{
    flex-direction: column;
        justify-content: center;
        margin-left: 0;

  }
}

@media screen and (max-width: 500px) {
  nav{
  flex-direction: column;
        justify-content: center;
        margin-left: 0;

  }

}

@media screen and (max-width: 400px) {

  nav{
  flex-direction: column;
        justify-content: center;
        margin-left: 0;
  }
     .navbar li a{
     font-size: 10pt;
  }
}

@media screen and (max-width: 600px) {

  nav{
  flex-direction: column;
   justify-content: center;
    margin-left: 0;
  }

 }
